.gallery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d1d1c9;
}

.rafting {
  background: url(../img/heroRaft.jpg) top center no-repeat;
  background-size: cover;
  width: 90%;
  height: 300px;
  margin: 4% auto 1% auto;
}

.base {
  background: url(../img/base.jpg) top center no-repeat;
  background-size: cover;
  width: 90%;
  height: 300px;
  margin: 4% auto 1% auto;
}

.backpacking {
  background: url(../img/backpacking.jpg) top center no-repeat;
  background-size: cover;
  width: 90%;
  height: 300px;
  margin: 4% auto 1% auto;
}

.canoe {
  background: url(../img/home-canoe.jpg) top center no-repeat;
  background-size: cover;
  width: 90%;
  height: 300px;
  margin: 4% auto 1% auto;
}

.photography {
  background: url(../img/home-photo.jpg) top center no-repeat;
  background-size: cover;
  width: 90%;
  height: 300px;
  margin: 4% auto 1% auto;
}

.custom {
  background: url(../img/home-custom.jpg) top center no-repeat;
  background-size: cover;
  width: 90%;
  height: 300px;
  margin: 4% auto 5% auto;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 100%;
  height: 100%;
}

.header {
  height: 480px;
  width: 100%;
  background: url(../img/hero-1.jpg) top center no-repeat;
  background-size: cover;
  color: white;
  padding-top: 5%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin: 20px;
}

.nav-left {
  display: flex;
  align-items: center;
  width: 300px;
}
.nav-left img {
  width: 45px;
  margin-right: 10px;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.nav-right button {
  background: transparent;
  border: none;
}
.nav-right button img {
  height: 32px;
  width: 32px;
}

.alaska {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 60px 22px 0 22px;
  flex: 1;
  letter-spacing: 1px;
}
.alaska img {
  align-self: center;
  width: 20%;
}
.alaska h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

hr {
  width: 70%;
  height: 5px;
  background-color: white;
  margin: 0 auto;
  border: none;
  margin-bottom: 20px;
}

.play-button {
  width: 20%;
  height: 0;
  background-color: white;
  opacity: .6;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 1px solid orange;
  padding-bottom: 20%;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 50%;
}

.experience {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e6e6e0;
  padding: 10px;
  border-bottom: 2px solid lightgray;
}
.experience h3 {
  margin-top: 15%;
}
.experience hr {
  width: 30%;
  height: 5px;
  background-color: #c9c9c2;
  margin: 20px auto;
  border: none;
}
.experience p a {
  text-decoration: none;
  color: #dc7725;
}
.experience button {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  background-color: #dc7725;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
}
.experience a {
  text-decoration: none;
  border-bottom: 1px dotted black;
  width: 150px;
  padding-bottom: 5px;
  color: black;
  margin: 5% auto 10% auto;
}
.experience a:hover {
  border-bottom: 1px dotted #dc7725;
  color: #dc7725;
}

.quote {
  background-color: #e6e6e0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 2px solid lightgray;
}
.quote .profileCircle {
  width: 20%;
  height: 0;
  background-color: white;
  opacity: .6;
  margin: 6% auto;
  display: flex;
  justify-content: center;
  padding-bottom: 20%;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 50%;
}
.quote h2 {
  margin-top: 20%;
  font-weight: lighter;
}
.quote h3 {
  text-align: center;
  margin-bottom: 10%;
}

.destinations {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e6e6e0;
  padding: 10px;
  padding-bottom: 10%;
  border-bottom: 2px solid lightgray;
}
.destinations h3 {
  margin-top: 10%;
}
.destinations hr {
  width: 30%;
  height: 5px;
  background-color: #c9c9c2;
  margin: 20px auto;
  border: none;
}
.destinations p a {
  text-decoration: none;
  color: #dc7725;
}

.guides {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/heroGuide.jpg);
  background-size: cover;
  color: white;
  padding: 10px;
}
.guides h3 {
  margin-top: 10%;
}
.guides h2 {
  margin-bottom: 1%;
  font-weight: lighter;
}
.guides hr {
  width: 30%;
  height: 5px;
  background-color: #c9c9c2;
  margin: 20px auto;
  border: none;
}
.guides p {
  color: #c7be99;
}
.guides button {
  width: 150px;
  height: 50px;
  margin: 10% auto;
  background-color: #dc7725;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
}
.guides img {
  width: 80%;
  margin-bottom: 10%;
}

.copy {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/bg-footercopyright.jpg);
  color: white;
  padding: 5% 10px;
}
.copy h2 {
  padding-bottom: 5px;
}
.copy a {
  text-decoration: none;
  color: #dc7725;
}
.copy a:hover {
  color: #e39251;
}
.copy h4 {
  color: #8e8e8a;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/bg-categorynav.jpg);
  background-size: cover;
}
.footer a {
  text-decoration: none;
  color: #8e8e8a;
}
.footer p {
  margin: 10px auto;
  border-bottom: 1px solid lightgray;
  width: 70%;
}
.footer a:hover {
  color: white;
}
.footer h3 {
  color: white;
}
.footer h3 a {
  color: #dc7725;
}
.footer button {
  background-color: grey;
  border: none;
  border-radius: 5px;
}
.footer button:hover {
  border: 1px solid white;
  border-radius: 5px;
  background-color: #999999;
}

/*# sourceMappingURL=main.css.map */
